$scissorsBg: hsl(40, 84%, 53%);
$scissorsBgShadow: hsl(39, 89%, 49%);
$paperBg: hsl(230, 89%, 65%);
$paperBgShadow: hsl(230, 89%, 62%);
$rockBg: hsl(349, 70%, 56%);
$rockBgShadow: hsl(349, 71%, 52%);
$darkText: hsl(229, 25%, 31%);
$scoreText: hsl(229, 64%, 46%);
$outlineHeader: hsl(217, 16%, 45%);
$white: hsl(0, 0, 95%);
